<!DOCTYPE html>
<html>
  <%- include('./partials/_head') %>
  <body>
    <%- include ('./partials/_nav') %>
    <div class="container mt-2">
      <header>
        <h2><%= title %></h2>
        <p><%= description %></p>
      </header>
      <section>
        <form action="/add-item" method="post">
          <label for="name">Name:</label>
          <input class="mb-2 form-control" type="text" name="name" id="name" />

          <label for="description">Description:</label>
          <input
            class="mb-2 form-control"
            type="text"
            name="description"
            id="description"
          />

          <label for="company">Company:</label>
          <select name="company_id" id="company">
            <option value="1">Ford</option>
            <option value="2">Lexus</option>
          </select>
          <br />

          <label for="category">Category:</label>
          <select name="category_id" id="category_id">
            <option value="2">Hatchback</option>
            <option value="1">Sedan</option>
          </select>
          <br />

          <label for="price">Price:</label>
          <input
            class="mb-2 form-control"
            type="number"
            name="price"
            id="price"
          />
          <label for="adminCode">Admin Code:</label>
          <input
            class="mb-2 form-control"
            type="password"
            name="adminCode"
            id="adminCode"
            required
          />

          <button class="mt-2 btn btn-primary" type="submit">Add</button>
        </form>
      </section>
      <footer></footer>
    </div>
  </body>
</html>
