<!DOCTYPE html>
<html>
  <%- include('./partials/_head' ) %>
  <body>
    <%- include ('./partials/_nav') %>
    <div class="container mt-2">
      <header>
        <h2><%= title %></h2>
        <p><%= itemData %></p>
      </header>
      <section></section>
      <footer></footer>
    </div>
  </body>
</html>
